@font-face {
  font-family: RobotoCustom;
  src: url(../public/assets/fonts/roboto-latin-ext-400-normal.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: RobotoCustom;
  src: url(../public/assets/fonts/roboto-latin-ext-500-normal.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: RobotoCustom;
  src: url(../public/assets/fonts/roboto-latin-ext-600-normal.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: PoppinsCustom;
  src: url(../public/assets/fonts/poppins-latin-400-normal.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: PoppinsCustom;
  src: url(../public/assets/fonts/poppins-latin-500-normal.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: PoppinsCustom;
  src: url(../public/assets/fonts/poppins-latin-600-normal.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: PoppinsCustom;
  src: url(../public/assets/fonts/poppins-latin-700-normal.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {
  --c1: #ffdd00;
  --c2: #D51E20;
  --font-global: "PoppinsCustom", "RobotoCustom", sans-serif;
}

* {
  font-family: var(--font-global);
}

/* h1,
h2,
h3,
h4,
h5,
h6,
button,
label,
.nav-elements ul a {
  font-family: var(--heading-font);
}

p,
body {
  font-family: var(--body-font);
} */

a {
  text-decoration: none !important;
}

html,
body {
  height: 100%;
}

.bg-yellow {
  background-color: var(--c1);
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.bg_light_grey {
  background: #00000008 !important;
}

.text-yellow {
  color: var(--c2);
}

.sub_heading {
  font-size: 12px;
}

.section_container {
  max-width: 1900px;
  margin: auto;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 20s linear infinite;
  font-weight: 500;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.navbar_links.active {
  position: fixed;
  z-index: 99;
  top: 0;
  background: #ffffff;
  box-shadow: 1px 2px 3px -1px #00000026;
  transition: all .3s ease-out;
}

.nav_parent {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nuzox_navbar {
  background-color: #ffffff;
  position: relative;
}

.login_signup_sec {
  font-size: 14px;
  font-weight: 500;
}

.nuzox_navbar .right_nav_icons i {
  font-size: 18px;
}

.nuzox_navbar .right_nav_icons i.bi-cart3 {
  font-size: 20px;
}

.carousel-inner {
  height: 100vh;
  overflow: hidden;
}

.carousel-inner .carousel-item,
.carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu-icon {
  display: none;
}

.nav-elements {
  padding: 0 30px;
  width: 100%;
}

.nav-elements ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
}

.nav-elements ul li:not(:last-child) {
  /* margin-right: 60px; */
}

.nav-elements ul a {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.nav-elements ul a.active {
  position: relative;
}

.ab-lgo-bx {
  background-color: #000000;
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ab-lgo-bx i {
  color: #eeeeee;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 180px;
}

.options_box h6,
.options_box p {
  font-size: 14px;
}

/* category */

.categ_content {
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 1;
  background: linear-gradient(#00000000, #000000bf);
  height: 100%;
  width: 100%;
  top: 0;
}

.categ_content h4 {
  font-size: 15px;
  width: 100%;
  text-align: center;
  background: #ffffff3b;
  padding: 15px 10px;
  margin-bottom: 0;
  backdrop-filter: blur(3px);
  color: #ffffff;
}

.categ_img {
  width: 100%;
  height: 260px;
}

/* .categ_parent{
  border-radius: 4px;
  overflow: hidden;
} */

.categ_parent img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transform: scale(1);
  transition: all .3s ease-out;
}

.categ_parent:hover img {
  transform: scale(1.05);
  transition: all .3s ease-out;
}

/* tab - products */

/* lazy load */
.dot-spinner {
  --offset: 20px;
  display: grid;
  place-items: center;
  position: relative;
  width: 4.25em;
  height: 4.25em;
}

.dot-spinner:focus {
  outline: 4px solid blue;
  border-radius: 50%;
}

.dot {
  --size: 12px;
  --degrees: 0deg;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  width: var(--size);
  background-color: var(--c1);
  opacity: 0;
  top: calc(var(--size) / 2);
  left: calc(var(--size) / 2);
  animation: animate-in;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: alternate;
  animation-iteration-count: infinite;
}

.dot:nth-of-type(1) {
  --degrees: 0 * 360deg / 8;
  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(0 * 100ms);
}

.dot:nth-of-type(2) {
  --degrees: 1 * 360deg / 8;
  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(1 * 100ms);
}

.dot:nth-of-type(3) {
  --degrees: 2 * 360deg / 8;
  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(2 * 100ms);
}

.dot:nth-of-type(4) {
  --degrees: 3 * 360deg / 8;
  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(3 * 100ms);
}

.dot:nth-of-type(5) {
  --degrees: 4 * 360deg / 8;
  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(4 * 100ms);
}

.dot:nth-of-type(6) {
  --degrees: 5 * 360deg / 8;
  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(5 * 100ms);
}

.dot:nth-of-type(7) {
  --degrees: 6 * 360deg / 8;
  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(6 * 100ms);
}

.dot:nth-of-type(8) {
  --degrees: 7 * 360deg / 8;
  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(7 * 100ms);
}


@keyframes animate-in {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.lazy-image-wrapper {
  position: relative;
  overflow: hidden;
}

.lazy-image-wrapper img {
  width: 100%;
  display: block;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.spinner-block {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  z-index: 2;
}

.lazy-image-wrapper img {
  opacity: 0;
}

.lazy-image-wrapper.loaded img:first-child {
  opacity: 1;
}

.loaded .spinner-block {
  display: none;
}

/* lazy load - end */
.view_butt {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease-out;
}

.view_butt:hover {
  box-shadow: 6px 7px 10px 1px #00000063;
  transition: all .3s ease-out;
}

.tab-navigation {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.tab-btn {
  padding: 10px 20px;
  background: transparent;
  border-top: 1px solid #cccccc00;
  border-right: 1px solid #cccccc00;
  border-left: 1px solid #cccccc00;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  transition: all .3 ease-out;
}

.tab-btn.active,
.tab-btn:hover {
  background: #000000 !important;
  border: 1px dashed #ffffff !important;
  color: #ffffff !important;
  transition: all .3 ease-out;
}

.tab-content {
  display: none;
  animation: fadeIn 0.5s ease;
}

.tab-content.active {
  display: block;
}

.product-card {
  transition: all 0.3s ease;
}

.product-card h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.old_price {
  color: #9e9e9e !important;
}

.discount_percent {
  color: #04ce00;
}

.product-card p {
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #000000cc;
}

.product-card .pick_button {
  border-radius: 0 !important;
}

.product-card .pick_button {
  background-color: #000000;
  border: none;
  color: #ffffff;
  padding: 10px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  height: 370px;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}

.img-main {
  opacity: 1;
  /* default visible */
  transition: opacity 0.4s ease;
}

.img-hover {
  opacity: 0;
  /* hidden by default */
  transition: opacity 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.product-card:hover .lazy-image-wrapper.loaded .image-wrapper .img-main {
  opacity: 0;
  /* hide on hover */
}

.product-card:hover .lazy-image-wrapper.loaded .image-wrapper .img-hover {
  opacity: 1;
  /* show on hover */
}

.overlay-btn {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.product-card:hover {
  cursor: pointer;
}

.product-card:hover .lazy-image-wrapper.loaded .overlay-btn {
  opacity: 1;
  transform: translateY(-15px);
}


/* Offer badge */
.offer-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 10px;
  background: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 0;
  z-index: 2;
  border: 2px dashed transparent;
  background-image:
    linear-gradient(#000, #000),
    repeating-linear-gradient(90deg, #fff 0 10px, transparent 10px 20px);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: auto, 40px 100%;
  /* Adjust width to match dash+gap */
  animation: borderMove 1s linear infinite;
  /* faster & smooth */
}

@keyframes borderMove {
  0% {
    background-position: 0 0, 0 0;
  }

  100% {
    background-position: 0 0, 40px 0;
    /* same as background-size width */
  }
}

/* responsive */

@media screen and (min-width: 991px) {
  .nav-elements ul a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
}

@media (max-width: 910px) {
  .image-wrapper .overlay-btn {
    opacity: 1 !important;
    padding: 0 0 5px 0 !important;
    transform: translateY(0) !important;
  }

  .offer-badge {
    padding: 3px;
  }

  .image-wrapper {
    height: 275px !important;
  }

  .categ_img {
    height: 30vh;
  }

  .section_container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .carousel-inner {
    height: 412px;
    overflow: hidden;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-elements {
    padding: 0;
    position: absolute;
    left: 0;
    top: 130px;
    background-color: #f6f6f6;
    width: 0px;
    z-index: 99;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  /* .nav-elements ul a {
    color: #ffffff;
  } */

  .nav-elements.active {
    width: 100%;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0 20px;
    width: 100%;
  }

  .nav-elements ul li {
    margin-right: unset;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #cfcfcf;
  }
}

@media screen and (max-width: 500px) {
  .product-card h5 {
    font-size: 14px;
  }

  .product-card p {
    font-size: 14px;
  }

  .product-card .pick_button {
    padding: 5px !important;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1400px) {
  .logo img {
    width: 150px;
    object-fit: contain;
  }
}
